IndustrialMonitoring/Service References/UserServiceReference/UserService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/UserService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/UserService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/UserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MonitoringServiceLibrary.ViewModels" />
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/UserService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUserByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserId" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="IUserService_Authorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckPermission_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPermission" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckPermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserHaveItemInTab_InputMessage">
    <wsdl:part name="parameters" element="tns:UserHaveItemInTab" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserHaveItemInTab_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserHaveItemInTabResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers2" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers2Response" />
  </wsdl:message>
  <wsdl:message name="IUserService_SetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_SetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserServicesPermission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserServicesPermission" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserServicesPermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserServicesPermissionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUserByUserName">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/GetUserByUserName" message="tns:IUserService_GetUserByUserName_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/GetUserByUserNameResponse" message="tns:IUserService_GetUserByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/GetUserByUserId" message="tns:IUserService_GetUserByUserId_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/GetUserByUserIdResponse" message="tns:IUserService_GetUserByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/Authorize" message="tns:IUserService_Authorize_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/AuthorizeResponse" message="tns:IUserService_Authorize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/CheckPermission" message="tns:IUserService_CheckPermission_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/CheckPermissionResponse" message="tns:IUserService_CheckPermission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserHaveItemInTab">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/UserHaveItemInTab" message="tns:IUserService_UserHaveItemInTab_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/UserHaveItemInTabResponse" message="tns:IUserService_UserHaveItemInTab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers2">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/GetUsers2" message="tns:IUserService_GetUsers2_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/GetUsers2Response" message="tns:IUserService_GetUsers2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/SetPassword" message="tns:IUserService_SetPassword_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/SetPasswordResponse" message="tns:IUserService_SetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserServicesPermission">
      <wsdl:input wsam:Action="http://tempuri.org/IUserService/GetUserServicesPermission" message="tns:IUserService_GetUserServicesPermission_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IUserService/GetUserServicesPermissionResponse" message="tns:IUserService_GetUserServicesPermission_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByUserName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/IUserService/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPermission">
      <soap:operation soapAction="http://tempuri.org/IUserService/CheckPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHaveItemInTab">
      <soap:operation soapAction="http://tempuri.org/IUserService/UserHaveItemInTab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers2">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsers2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserServicesPermission">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserServicesPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://172.20.63.234:9011/MonitoringService/UserService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>