IndustrialMonitoring/Service References/ProcessDataServiceReference/ProcessDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Monitoring.ViewModels" />
      <xsd:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SharedLibrary" />
      <xsd:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessDataService_GeItemsLogLatest_InputMessage">
    <wsdl:part name="parameters" element="tns:GeItemsLogLatest" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GeItemsLogLatest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeItemsLogLatestResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetItemsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsAll" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetItemsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTabsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTabsAll" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTabsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTabsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTab_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTab" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTab_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTabResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTabItemsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTabItemsAll" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTabItemsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTabItemsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTabItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTabItems" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetTabItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTabItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcessDataService">
    <wsdl:operation name="GeItemsLogLatest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GeItemsLogLatest" message="tns:IProcessDataService_GeItemsLogLatest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GeItemsLogLatestResponse" message="tns:IProcessDataService_GeItemsLogLatest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GetItemsAll" message="tns:IProcessDataService_GetItemsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GetItemsAllResponse" message="tns:IProcessDataService_GetItemsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GetItems" message="tns:IProcessDataService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GetItemsResponse" message="tns:IProcessDataService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTabsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GetTabsAll" message="tns:IProcessDataService_GetTabsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GetTabsAllResponse" message="tns:IProcessDataService_GetTabsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTab">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GetTab" message="tns:IProcessDataService_GetTab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GetTabResponse" message="tns:IProcessDataService_GetTab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTabItemsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GetTabItemsAll" message="tns:IProcessDataService_GetTabItemsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GetTabItemsAllResponse" message="tns:IProcessDataService_GetTabItemsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTabItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessDataService/GetTabItems" message="tns:IProcessDataService_GetTabItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessDataService/GetTabItemsResponse" message="tns:IProcessDataService_GetTabItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProcessDataService" type="tns:IProcessDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeItemsLogLatest">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GeItemsLogLatest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsAll">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetItemsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabsAll">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetTabsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTab">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetTab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabItemsAll">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetTabItemsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabItems">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetTabItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessDataService">
    <wsdl:port name="BasicHttpBinding_IProcessDataService" binding="tns:BasicHttpBinding_IProcessDataService">
      <soap:address location="http://localhost:19532/ProcessDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>