IndustrialMonitoring/Service References/ProcessDataServiceReference/ProcessDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Monitoring.ViewModels" />
  <xs:import schemaLocation="http://localhost:19532/ProcessDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GeItemsLogLatest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeItemsLogLatestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Monitoring.ViewModels" minOccurs="0" name="GeItemsLogLatestResult" nillable="true" type="q1:ItemsLogLatestAIOViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Monitoring.ViewModels" minOccurs="0" name="GetItemsAllResult" nillable="true" type="q2:ArrayOfItemsAIOViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="predicate" nillable="true" type="q3:FuncOfItemsAIOViewModelboolean8_SIOQneY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Monitoring.ViewModels" minOccurs="0" name="GetItemsResult" nillable="true" type="q4:ArrayOfItemsAIOViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>