TestConsole/Service References/ServiceReference1/ProcessDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.10.5:9011/MonitoringService/ProcessDataService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.10.5:9011/MonitoringService/ProcessDataService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessDataService_GetPreHeatingZoneTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreHeatingZoneTemperature" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetPreHeatingZoneTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreHeatingZoneTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetSterilizerZoneTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSterilizerZoneTemperature" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetSterilizerZoneTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSterilizerZoneTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetCoolingZoneTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoolingZoneTemperature" />
  </wsdl:message>
  <wsdl:message name="IProcessDataService_GetCoolingZoneTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoolingZoneTemperatureResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcessDataService">
    <wsdl:operation name="GetPreHeatingZoneTemperature">
      <wsdl:input wsam:Action="http://tempuri.org/IProcessDataService/GetPreHeatingZoneTemperature" message="tns:IProcessDataService_GetPreHeatingZoneTemperature_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IProcessDataService/GetPreHeatingZoneTemperatureResponse" message="tns:IProcessDataService_GetPreHeatingZoneTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSterilizerZoneTemperature">
      <wsdl:input wsam:Action="http://tempuri.org/IProcessDataService/GetSterilizerZoneTemperature" message="tns:IProcessDataService_GetSterilizerZoneTemperature_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IProcessDataService/GetSterilizerZoneTemperatureResponse" message="tns:IProcessDataService_GetSterilizerZoneTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoolingZoneTemperature">
      <wsdl:input wsam:Action="http://tempuri.org/IProcessDataService/GetCoolingZoneTemperature" message="tns:IProcessDataService_GetCoolingZoneTemperature_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IProcessDataService/GetCoolingZoneTemperatureResponse" message="tns:IProcessDataService_GetCoolingZoneTemperature_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProcessDataService" type="tns:IProcessDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPreHeatingZoneTemperature">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetPreHeatingZoneTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSterilizerZoneTemperature">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetSterilizerZoneTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoolingZoneTemperature">
      <soap:operation soapAction="http://tempuri.org/IProcessDataService/GetCoolingZoneTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessDataService">
    <wsdl:port name="BasicHttpBinding_IProcessDataService" binding="tns:BasicHttpBinding_IProcessDataService">
      <soap:address location="http://192.168.10.5:9011/MonitoringService/ProcessDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>