IndustrialMonitoring_Backup_2014.11.17_05.06.53/Service References/NotificationServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HasNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>