IndustrialMonitoring/Service References/NotificationServiceReference/MonitoringServiceLibrary.ViewModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonitoringServiceLibrary.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonitoringServiceLibrary.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNotification1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification1" nillable="true" type="tns:Notification1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification1" nillable="true" type="tns:ArrayOfNotification1" />
  <xs:complexType name="Notification1">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="NotificationId" type="xs:int" />
      <xs:element minOccurs="0" name="NotificationMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification1" nillable="true" type="tns:Notification1" />
</xs:schema>