MonitoringAdmin/Service References/UsersServiceReference/MonitoringServiceLibrary.ViewModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonitoringServiceLibrary.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonitoringServiceLibrary.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserViewModel" nillable="true" type="tns:UserViewModel" />
  <xs:complexType name="ArrayOfUsers2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users2" nillable="true" type="tns:Users2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers2" nillable="true" type="tns:ArrayOfUsers2" />
  <xs:complexType name="Users2">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users2" nillable="true" type="tns:Users2" />
</xs:schema>