MonitoringAdmin/Service References/DataCollectorServiceReference/DataCollectorService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataCollectorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/DataCollectorService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/DataCollectorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.63.234:9011/MonitoringService/DataCollectorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataCollectorService_StartDataCollectorServer_InputMessage">
    <wsdl:part name="parameters" element="tns:StartDataCollectorServer" />
  </wsdl:message>
  <wsdl:message name="IDataCollectorService_StartDataCollectorServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartDataCollectorServerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCollectorService_StopDataCollectorServer_InputMessage">
    <wsdl:part name="parameters" element="tns:StopDataCollectorServer" />
  </wsdl:message>
  <wsdl:message name="IDataCollectorService_StopDataCollectorServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopDataCollectorServerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCollectorService_GetServerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerStatus" />
  </wsdl:message>
  <wsdl:message name="IDataCollectorService_GetServerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataCollectorService">
    <wsdl:operation name="StartDataCollectorServer">
      <wsdl:input wsam:Action="http://tempuri.org/IDataCollectorService/StartDataCollectorServer" message="tns:IDataCollectorService_StartDataCollectorServer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataCollectorService/StartDataCollectorServerResponse" message="tns:IDataCollectorService_StartDataCollectorServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopDataCollectorServer">
      <wsdl:input wsam:Action="http://tempuri.org/IDataCollectorService/StopDataCollectorServer" message="tns:IDataCollectorService_StopDataCollectorServer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataCollectorService/StopDataCollectorServerResponse" message="tns:IDataCollectorService_StopDataCollectorServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerStatus">
      <wsdl:input wsam:Action="http://tempuri.org/IDataCollectorService/GetServerStatus" message="tns:IDataCollectorService_GetServerStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataCollectorService/GetServerStatusResponse" message="tns:IDataCollectorService_GetServerStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataCollectorService" type="tns:IDataCollectorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartDataCollectorServer">
      <soap:operation soapAction="http://tempuri.org/IDataCollectorService/StartDataCollectorServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopDataCollectorServer">
      <soap:operation soapAction="http://tempuri.org/IDataCollectorService/StopDataCollectorServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerStatus">
      <soap:operation soapAction="http://tempuri.org/IDataCollectorService/GetServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataCollectorService">
    <wsdl:port name="BasicHttpBinding_IDataCollectorService" binding="tns:BasicHttpBinding_IDataCollectorService">
      <soap:address location="http://172.20.63.234:9011/MonitoringService/DataCollectorService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>