MonitoringAdmin/Service References/DataCollectorServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StartDataCollectorServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDataCollectorServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDataCollectorServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDataCollectorServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDataCollectorServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopDataCollectorServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>